/* دکمه‌ها */
.button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button-danger {
    background-color: #dc3545;
}

.button-danger:hover {
    background-color: #b21f2d;
}
